:root{
    --color1 : #E0ECE4;
    --color2 : #FF4B5C;
    --color3 : #056674;
    --color4 : #66BFBF;
}

*{
    margin: 0;
    padding: 0;  
}
body{
    background: var(--color1);
    font-family:sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    margin-bottom: 10px;
    background: var(--color3);
}
header img{
    width: 10rem;
}

.todo{
    margin: 0 10px;
 
}
.todo h1{
    text-align: center;
    margin: 2rem 0;
    color: var(--color3);
}

.add-items {
    width: 100%;
}
.add-items form{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}
form input {
    width: 100%;
    /* padding-left: 10px; */
    
}
form button {
    color: #fff;
    grid-area: 100%;
    padding: 10px 1rem;
    margin-left: 5px;
    background: var(--color3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background: var(--color4);
    color: #000;
}

ul li{
    /* border: 1px solid red; */
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    text-transform: uppercase !important;
}   
.liste-item{
    display: block;
    max-width: 150px;
    word-wrap: break-word;
}
ul li:is(:hover , :active){
    background: #fff;
}
.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.delete , .edit {
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
}
.delete{
    background: var(--color2);
}
.edit {
    background: var(--color3);
}
@media screen and (min-width : 900px) {
    .todo{
        width: 600px;
        position: relative;
        transform: translateX(50%);
    }
}